<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    backupGlobals="false"
    backupStaticAttributes="false"
    bootstrap="vendor/autoload.php"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    stopOnFailure="false"
    printerClass="Codedungeon\PHPUnitPrettyResultPrinter\Printer"
>
  <testsuites>

<!--  Comment out before starting  -->
    <testsuite name="Complete">
      <directory suffix="TestComplete.php">./tests</directory>
    </testsuite>

<!--  Uncomment before starting  -->
    <testsuite name="Tests">
      <directory suffix="Test.php">./tests</directory>
    </testsuite>

  </testsuites>
</phpunit>
